/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bgheadingsbtns: hsl(0, 0%, 95%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bgheadingsbtns);
  font-family: 'Lexend Deca', serif;
}

main {
  flex: 1;
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  max-width: 18rem;
  border-radius: 8px;
  overflow: hidden;
}

img {
  width: 4rem;
}

.card-section {
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.card-section.sedan {
  background-color: var(--brightorange);
}

.card-section.suv {
  background-color: var(--darkcyan);
}

.card-section.luxury {
  background-color: var(--verydarkcyan);
}

.learn-button.sedan {
  color: var(--brightorange);
}

.learn-button.suv {
  color: var(--darkcyan);
}

.learn-button.luxury {
  color: var(--verydarkcyan);
}

.learn-button {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: none;
  max-width: 8rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.learn-button:hover {
  outline: 0.1rem solid white;
  background-color: transparent;
  color: white;
}
.section-category {
  color: var(--bgheadingsbtns);
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
}

p {
  color: var(--paragraphs);
  font-size: .8rem;
}

@media screen and (min-width: 32rem) {
  :root {
    font-size: 110%;
  }

  .card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 48rem;
  }

  p {
    padding-bottom: 6rem;
  }
}